@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Raleway:wght@100&family=Zen+Antique+Soft&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

body {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*INDEX*/

.navbar {
    font-size: 20px;
}

.nav-logo {
    height: 50px;
    margin-left: 1rem;
    transition: transform 0.7s;
}

.nav-logo:hover {
    transform: rotate(180deg);
}

.navbar-collapse {
    justify-content: end;
}

.nav-item {
    margin: 0 0.5rem;
}

.nav-link {
    position: relative;
    color: #e0dbdb;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}

.cart-link {
    position: relative;
    font-size: 24px;
    margin-top: 4px;
    color: white;
}

.cart-link:hover {
    color: white;
}

.badge {
    position: absolute;
    left: 15px;
    bottom: 22px;
    font-size: 13px;
    background-color: rgb(199, 5, 5);
    border-radius: 1rem;
}

main {
    background-color: black;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.carousel-container {
    width: 75%;
    margin: auto;
}

@media (min-width: 992px) {
    .carousel-container {
        padding-top: 10rem;
    }
}

.footer-nav {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.footer-nav-item {
    list-style: none;
    padding-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-nav-link {
    color: #dad6d6;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: white;
}

.icon-white {
    color: white;
    font-size: 2rem;
}

.footer-row2 {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    border-top: 1px solid;
    padding-top: 0.5rem;
    color: #c7c7c7b7;
}

.footer-row2 p {
    margin-bottom: 0;
}

/*PRODUCTOS*/

.productos-container-bounds {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.card {
    width: 40rem;
    font-size: 20px;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    transition: 0.5s;
}

.product-image {
    height: 15rem;
}

.btn:active, .btn:focus {
    box-shadow: none;
    outline: none;
}

/*CARRITO*/
.main-carrito {
    padding-bottom: 30rem;
}

.carrito-list {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.contador {
    font-size: 1rem;
    width: 1.5rem;
}

.plus, .minus {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
}

input {
    border: 0;
    height: 30px;
    width: 10%;
    font-size: 20px;
    vertical-align: top;
}

td, th {
    white-space: nowrap;
}

/*NOSOTROS*/

.main-nosotros {
    height: 40rem;
    background: linear-gradient(rgba(8, 8, 8, 0.5), rgba(17, 17, 17, 0.582)), url(../img/local.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
}

/*CONTACTO*/

.contacto {
    color: white;
    padding-top: 7rem;
    padding-bottom: 3rem;
}